extends ../index.jade
block content
  h1.h1 Container Building
  p.p The container for&#32;
    strong #{instanceName}
    | &#32;is building.
  a.link(
    href = "https://app.runnable.io/#{ownerName}/#{instanceLowername}"
  ) View in Runnable
