extends ../index.jade
block content
  h1.h1 Container Build Failed
  p.p The build for&#32;
    strong #{instanceName}
    | &#32;failed.
  a.link(
    href = "https://runnable.io/#{ownerName}/#{instanceLowername}"
  ) View in Runnable
