extends ../index.jade
block content
  h1.h1 Container Status Unknown
  p.p The status of&#32;
    strong #{instanceName}
    | &#32;is unknown.
  a.link(
    href = "https://app.runnable.io/#{ownerName}/#{instanceLowername}"
  ) View in Runnable
